@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: sfprodisplay;
  src: url('./src/font/SFPRODISPLAYREGULAR.OTF');
}
@font-face {
  font-family: inter;
  src: url('./src/font/Inter-VariableFont_opsz,wght.ttf');
}